@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.BookingFE.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Booking</h1>

<form method="post">
    <input type="text" name="searchValue" value="@Model.searchValue" placeholder="Search by CreatedBy" />
    <button type="submit">Search</button>
</form>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].CreateBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].UpdateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].UpdateBy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Booking)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateBy)
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.BookingId">Change Status</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="align-middle">
    <ul class="pagination">
        @for (int b = 1; b <= Model.Count; b++)
        {
            <li class="page-item @(b == Model.Index ? "active" : "")">
                <a asp-page="./Index" asp-route-Index="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>