@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.ReportFE.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].ReportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].ReportLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Stylist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Report) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stylist.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReportId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReportId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
