@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.UserFE.IndexModel

@{
    ViewData["Title"] = "Hair Salon Management";
}

@{
    // Lấy tên người dùng từ session
    var currentUserName = HttpContext.Session.GetString("CurrentUsername");
    var role = HttpContext.Session.GetString("Role");
}

@if (!string.IsNullOrEmpty(currentUserName))
{
    <h2>Welcome, @currentUserName!</h2>
}

<h2>Account Management</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Role)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    @if (role!.Equals("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> <span> | </span>
                        <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> <span> | </span>
                        <a asp-page="./Delete" asp-route-id="@item.UserId">Change Status</a>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> <span> | </span>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<div class="align-middle">
    <ul class="pagination">
        @for (int b = 1; b <= Model.Count; b++)
        {
            <li class="page-item @(b == Model.Index ? "active" : "")">
                <a asp-page="./Index" asp-route-Index="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>