@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.FeedbackFE.IndexModel

@{
    ViewData["Title"] = "Feedback Management";
}

@{
    // Lấy tên người dùng từ session
    var currentUserName = HttpContext.Session.GetString("CurrentUsername");
    var role = HttpContext.Session.GetString("Role");
}
@if (!string.IsNullOrEmpty(currentUserName))
{
    <h2>Welcome, @currentUserName!</h2>
}
<h2>Feedback Management</h2>


@if (TempData["Message"] != null)
{
    <h2 class="text-info">@TempData["Message"]</h2>
}

<form method="post">
    <input type="text" name="searchValue" value="@Model.searchValue" placeholder="Search by Description" />
    <button type="submit">Search</button>
</form>


@* <p>
    <a asp-page="Create">Create New Feedback</a>
</p> *@

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Feedback[0].Description)</th>
                <th>@Html.DisplayNameFor(model => model.Feedback[0].CreateDate)</th>
                <th>@Html.DisplayNameFor(model => model.Feedback[0].Status)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Feedback != null && Model.Feedback.Count > 0)
            {
                @foreach (var item in Model.Feedback)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>
                            <a asp-page="./Delete" asp-route-id="@item.FeedbackId">Change Status</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No feedbacks found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="align-middle">
    <ul class="pagination">
        @for (int b = 1; b <= Model.Count; b++)
        {
            <li class="page-item @(b == Model.Index ? "active" : "")">
                <a asp-page="./Index" asp-route-Index="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>