@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.VoucherFE.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Active/Inactive A Voucher</h1>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.DiscountAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.DiscountAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voucher.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voucher.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Voucher.VoucherId" />
        <input type="submit" value="Active/Inactive" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
