@page
@model Fall2024_SWD392_SE1704_111_FE.Pages.VoucherFE.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Account Management</h2>

@{
    // Lấy tên người dùng từ session
    var currentUserName = HttpContext.Session.GetString("CurrentUsername");
    var role = HttpContext.Session.GetString("Role");
}

@if (!string.IsNullOrEmpty(currentUserName))
{
    <h2>Welcome, @currentUserName!</h2>
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Voucher[0].DiscountAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voucher[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voucher[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voucher[0].Status)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Voucher)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.VoucherId">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.VoucherId">Change Status</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="align-middle">
    <ul class="pagination">
        @for (int b = 1; b <= Model.Count; b++)
        {
            <li class="page-item @(b == Model.Index ? "active" : "")">
                <a asp-page="./Index" asp-route-Index="@b" class="page-link">@b</a>
            </li>
        }
    </ul>
</div>